*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #F8F8FF;
}

header{
    width: 100%;
    background-color: #e7ab6ff1;
    padding:0 150px;

}

.container{
    display: flex;
    justify-content: center;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h2 {
    font-size: 48px;
    color: #000;
}

.menu-hamburguer{
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span{
    height: 2px;
    width: 100%;
    background-color: #000;
    display: block;
    margin-bottom: 4px;

}

nav{
    background-color: #e7ab6ff1;
    padding: 24px;
}

nav ul{
    display: flex;
    list-style: none;
    
}

nav ul li{
    margin-left: 24px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#img-logo{
    width: 120px;
}

#img-logo-titulo{
    width: 40px;
}

#itens-individuais {
    width: 80%;
    padding: 20px 250px;
}